
body {
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */
/* 
    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 10px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color:#eeeeee;
    background-image:
    radial-gradient(circle at 100% 150%, #eeeeee 24%, white 24%, white 28%, #eeeeee 28%, #eeeeee 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, #eeeeee 24%, white 24%, white 28%, #eeeeee 28%, #eeeeee 36%, white 36%, white 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, white 10%, #eeeeee 10%, #eeeeee 23%, white 23%, white 30%, #eeeeee 30%, #eeeeee 43%, white 43%, white 50%, #eeeeee 50%, #eeeeee 63%, white 63%, white 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, white 5%, #eeeeee 5%, #eeeeee 15%, white 15%, white 20%, #eeeeee 20%, #eeeeee 29%, white 29%, white 34%, #eeeeee 34%, #eeeeee 44%, white 44%, white 49%, transparent 49%, transparent),
    radial-gradient(circle at 0    50%, white 5%, #eeeeee 5%, #eeeeee 15%, white 15%, white 20%, #eeeeee 20%, #eeeeee 29%, white 29%, white 34%, #eeeeee 34%, #eeeeee 44%, white 44%, white 49%, transparent 49%, transparent);
    background-size: 100px 50px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
.header-image {
    width: 400px;
    outline: white solid 2px;
    outline-offset: -10px;
    position: relative;
    z-index:-1;
}

.page-title {
    font-family: 'Vast Shadow', cursive;
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    line-height: 2.25rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    margin: 5px;
}

section {
    margin: 0px;
    padding: 0px;
}