/* add home page styles here */
.item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
    padding: 0;
    margin: 0;
}

.list-item {
    width: 225px;
    justify-content: center;
    align-items: top;
    text-align: center;
    vertical-align: top;
    margin: 20px;
    padding: 0;
}

li p {
    text-align: center;
    margin: 15px;
    line-height: 1.25rem;
}

li>img {
    height: 300px;
    outline: white solid 2px;
    outline-offset: -7px;
}

.item-price {
    display: inline;
    width: 100px;
    height: 50px;
    padding: 10px;
    font-size: 1.25rem;
    background-color: silver;
    border-radius: 25px;
    border-color: lightgray;
    border-width: 2px;
    color: white;
}

.item-id {
    display: none;
}

.item-name {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 10px;
}

.item-quantity {
    flex: 1;
    width: 50px;
    margin: 10px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    border: solid lightgray 3px;
    color: darkslategray;
    border-radius: 10px;
}